body{
    padding: 0px;
    margin: 0px;
    background-color: #cfdef5;
}

.about-heading{
    font-size: 40px;
    text-align: center;
 
 }
 
 
 
 /*  - about-description-section- */
 
 .contact-main-cantainer{
    width: 1000px;
    height: 1000px;
    margin-left: 200px;
    padding:15px;
    box-shadow: 0  0  5px 5px #aac6ee;
    background-color: white;
   
 }
    .about-text{
       font-size: 20px;
    }