body{
    padding: 0px;
    margin: 0px;
    background-color: #cfdef5;
}

.about-heading{
   font-size: 40px;
   height: 50px;
   width: 300px;
   background-color: tomato;
   margin: 0 auto;
}

.main-container{
   height: 800px;
   width: 1500px;
   background-color: tomato;
   margin: 0px auto;
   display: flex;
}
.text-container1{
height: 500px;
width: 750px;
background-color: aqua;


}
.about-information-text{
   padding: 50px;
   font-size: 18px;
}



/*image-container  */




.image-container2{
   height: 500px;
   width: 400px;
   background-color: wheat;
   
   

}
.image1{
   height: 250px;
   width:400px;
margin: 50px 50px;
}
