body{
    padding: 0px;
    margin: 0px;
    background-color: #cfdef5;
}

.about-heading{
   font-size: 40px;
   height: 50px;
   width: 300px;
   
   margin: 0 auto;
   margin-top: 50px;
}

.main-container{
   height: 450px;
   width: 1400px;
   margin: 0px auto;
   display: flex;

   
   

   
}
.text-container1{
height: 500px;
width: 800px;


}

.about-information-text{
   padding: 80px;
   font-size: 18px;
   
}



/*image-container  */




.image-container2{
   height: 500px;
   width: 500px;
   
}
.image1{
   height: 300px;
   margin: 120px 20px;
   border-radius: 10px;
   border: solid black 1px;
   box-shadow: 5px 5px 10px rgb(37, 35, 35);
}



/* --our-team-section-- */

.our-team-container{
   height: 500px;
   width:1400px;
   margin: 0px auto;
   background-color: tomato
   
}
.our-team-heading{
   text-align: center;
   margin-top: 100px;
}
.heading-paragraph-container{
   height: 100px;
   display: flex;
   justify-content: center;
}
.our-team-heading-paragraph{
height: 100px;
width: 800px;
text-align: center;

}
.card-container{
   display: flex;
   background-color: antiquewhite;
   justify-content:center ;

   
}

.card1{
   height: 300px;
   width: 300px;
   background-color: aqua;
   margin: 50px;
   position: relative;
   
   
   
}
.team-member-photos{
   background-color: tomato;
   height: 80px;
   border-radius: 100%;
   
   border: solid black 1px;
   position: absolute;
   
   left: 110px;
   

  
}