@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Electrolize&family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background-color:  #ffffe6;
}
.blog-page-heading{
    background-color: tomato;
    text-align: center;
    font-size: 40px;
    margin: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 30px;
}
.first-div-videos-main-container{
    display: flex;
    justify-content: center;
    height: 450px;
    width: 1350px;
    margin: 0 auto;
   margin-bottom: 20px;

}
.embed-videos{
    height: 250px;
    width: 400px;
    border-radius: 20px;
}
.video-discription-text{
    font-size: 14px;
    font-family: "Kurale", serif;
}
.first-div-videos-container{
    height: 410px;
    width: 400px;
    margin: 20px;   
}
.btn{
    padding: 5px 12px;
    margin-left: 290px;
    border-radius: 6px;
    background-color: black;
    color: white;
    border: none;
    
}
.anchor-tag-btn{
    text-decoration: none;
    color: white;
}