body {
   padding: 0;
   margin: 0;
   background-color: #ffffe6; 
}

.contact-main-container {
   background-color: white;
   width: 900px;
   height: 600px;
   margin: 50px auto;
   padding: 10px;
   box-shadow: 0 0 10px 1px black;
   border-radius: 10px;
   
   
   
}
.contact-main-container2{
   display: flex;
   justify-content: center;
}
.contact-heading {
   text-align: center;
   font-size: 45px;
   height: 70px;
    margin: 0px auto;
    font-family: "Russo One", sans-serif;

}
.contact-sub-container1 {
   height: 600px;
   width: 400px;
}

.icon{
   height: 30px;
}

.address-container {
  height: 120px;
   display: flex;
   
   margin: 10px;
   align-items: center;
   

}

.address-text {
   font-size: 18px;
   color: #595959;
   margin: 20px;


}

.socialmedia-icon {
   height: 40px;
   margin: 10px;
}

.contact-sub-container2 {
   height: 600px;
   width: 400px;
   
}

.massage-repaly-text {
   padding-top: 63px;
}

.input-box {
   border:none;
   width: 300px;
   font-size: 20px;
background-color:white;
}

.label-text {
   font-size: 20px;

}
.send-btn {
   background-color: #66c2ff; 
   padding: 10px 35px;
   margin-top: 20px;
   margin-left: 50px;
   border-radius: 8px;
   color: white;
   border: none;
}