@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Electrolize&family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*  font-family: "Kurale", serif; */
/*  font-family: "Electrolize", sans-serif; */
/* font-family: "Black Ops One", system-ui; */
/*   font-family: "Russo One", sans-serif; */


body {
    padding: 0;
    margin: 0;
    /* background-color: #cfdef5; */
    background-color: #ffffe6;


}

.navbar-sec-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #66c2ff;

}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 80px;
}

.brand-name {
    margin-left: 20px;
    font-size: 37px;
    font-weight: bold;
}

.searchbar-container {
    background-color: white;
    border-radius: 30px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    margin-left: 50px;

}

.searchbar {
    font-size: 22px;
    border-radius: 30px;
    border: none;
    padding: 10px;

}

.searchbar:focus {
    outline: none;
}

.search-icon {
    height: 25px;

}

.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    margin-left: 200px;

}


.sign-up {
    font-size: 25px;
    text-decoration: none;
    color: black;

}

.login {
    font-size: 25px;
    text-decoration: none;
    color: black;

}

/* main navbar section 2 */
.nav-container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffbf80;

}

.main-navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 1100px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.navbar-items {
    font-size: 22px;
    padding: 15px;
    border: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Electrolize", sans-serif;
    background-color: #ffbf80;

}

.visit-place-item {
    background-color: white;
}

.header-container {
    position: relative;
}

.header-image {
    height: 100vh;
    width: 100%;
}

.header-heading {
    font-size: 45px;
    font-family: "Russo One", sans-serif;
    position: absolute;
    top: 320px;
    left: 170px;
    color: rgb(32, 32, 32);
}

.our-speciality-heading {
    font-size: 40px;
    text-align: center;
    margin: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: tomato;
    border-radius: 30px;
    /* font-family: "Electrolize", sans-serif; */

    /* font-family: "Russo One", sans-serif; */
    font-family: "Black Ops One", system-ui;

}

.our-services-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.our-services-card {
    height: 180px;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 10px 3px gray;
}

.our-services-card:hover {
    padding: 10px;
    cursor: pointer;
    background-color: #cfdef5;
    transition: 0.4s !important;


}

.services-card-icon-container {
    margin: 5px;
    width: 60px;
    height: 60px;

    border-radius: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 5px 1px gray;
}

.our-services-card-icon {
    height: 40px;
    padding: 10px;
}

.services-card-heading {
    font-size: 20px;
    text-align: center;
}

.services-card-desc {
    text-align: center;
}

.explore-maha-heading {
    font-size: 40px;
    font-family: "Russo One", sans-serif;

    margin-top: 50px;
    color: rgb(32, 32, 32);
    text-align: center;

    border-bottom: 1px solid gray;

}

.explore-maha-card {
    width: 850px;
    background-color: white;
    padding: 20px;
    font-family: "Kurale", serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;


}

.explore-maha-desc {
    font-size: 22px;
}

/* popular-city */

.popular-city-main-heading {
    font-size: 40px;
    text-align: center;
    margin: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: tomato;
    border-radius: 30px;
    font-family: "Black Ops One", system-ui;

}

.popular-city-card-container {

    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;



}

.popular-city-img {

    width: 240px;
    height: 240px;
    border-radius: 10px;

}

.popular-city-card {

    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px 3px gray;

}

.popular-city-img:hover {

    cursor: pointer;
    width: 260px;
    transition: 0.5s;
}

.popular-city-card-heading {
    font-size: 20px;
    font-family: "Black Ops One", system-ui;
    padding: 10px;
}

.popular-card-desc {
    padding-bottom: 7px;
    padding-left: 7px;

}

/* best places to visit */

.best-place-heading {
    font-size: 40px;
    font-family: "Russo One", sans-serif;

    margin-top: 50px;
    color: rgb(32, 32, 32);
    text-align: center;

    border-bottom: 1px solid gray;

}

.best-places-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 60px 0;

}

.best-places-visit-cards {
    width: 500px;
    height: 620px;

    background-color: #c7dceb;
    padding: 10px;
    border-radius: 15px;
    position: relative;
}

.best-places-visit-cards:hover {
    padding: 15px;
    box-shadow: 0 0 8px 3px #62aee4;
    border-radius: 20px;

    transition: 0.3s;

}

.best-places-visit-img {
    width: 500px;
    height: 300px;
}

.best-place-visit-card-heading {
    font-size: 25px;
    font-family: "Electrolize", sans-serif;
}

.best-places-card-desc {
    font-size: 20px;
    font-family: "Kurale", serif;
    text-align: start;
}

.best-place-visit-btn {
    font-size: 20px;
    /* font-weight: bold; */
    padding: 5px 20px;
    background-color: black;
    color: white;
    border-radius: 50px;
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.best-place-visit-btn:hover {
    padding: 7px 25px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.best-time-heading {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* top attraction */
.top-attraction-heading {
    font-size: 40px;
    text-align: center;
    margin: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: tomato;
    border-radius: 30px;
    font-family: "Black Ops One", system-ui;

}

.top-attraction-container {
    width: 1200px;
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.top-attraction-image {
    height: 250px;
    width: 360px;
    border-radius: 12px;
    display: block;
    margin: 0 auto;

}

.top-attraction-card {
    width: 360px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: #c7dceb;
    margin: 20px;
}

.top-attraction-card:hover {
    background-color: #c7dceb;
    cursor: pointer;
    /* padding: 10px; */
    border-radius: 15px;
    box-shadow: 0 0 10px 3px #7dbfee;
    transition: 0.6s;
    margin-top: -5px;
}

.top-attraction-name {
    font-size: 20px;
    font-family: "Electrolize", sans-serif;
}

/* footer section */


.footer-container {

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(24, 22, 22);
    color: white;
}

.footer-img {
    height: 200px;
    width: 200px;
    margin-top: 30px;

}

.footer-quick-links {

    height: 180px;
    width: 200px;
    color: white;
    margin: 10px;
    padding: 20px 20px;
    text-align: left;
}


.footer-useful-link {
    height: 180px;
    width: 200px;
    color: white;
    margin: 10px;
    padding: 20px 20px;
    text-align: left;
}

.footer-contact {
    height: 180px;
    width: 200px;
    color: white;
    margin: 10px;
    padding: 20px 20px;
    text-align: left;
}

.footer-icon {
    font-size: 26px;
    margin: 10px;

}

/* media querry */

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .brand-name {
        font-size: 35px;

    }

    .searchbar-container {
        padding-right: 20px;
        margin-left: 30px;

    }

    .searchbar {
        font-size: 20px;
        width: 200px;
    }

    .login-container {

        margin-left: 40px;
    }

    .main-navbar-container {
        width: 1000px;

    }

    .header-heading {
        font-size: 40px;
        top: 320px;
        left: 120px;

    }

    .our-speciality-heading {
        font-size: 38px;

    }

    .our-services-card-container {
        width: 1000px;
        height: 500px;
        margin: 0 auto;

    }

    .popular-city-main-heading {
        font-size: 38px;
    }

    .popular-city-card-container {
        width: 1000px;

    }

    .best-places-visit-cards {
        width: 400px;
        height: 520px;

    }

    .best-places-visit-img {
        width: 400px;
        height: 230px;
    }

    .best-place-visit-card-heading {
        font-size: 22px;

    }

    .best-places-card-desc {
        font-size: 17px;

    }

    .best-place-visit-btn {
        font-size: 18px;
        right: 20px;

    }

    .top-attraction-heading {
        font-size: 37px;
    }

    .top-attraction-container {
        width: 1000px;
        margin: 60px auto;
        flex-wrap: nowrap;

    }

    .top-attraction-image {
        height: 200px;
        width: 280px;


    }

    .top-attraction-card {
        width: 290px;
        margin: 13px;
    }
}

/* media query 769 to 992 */

@media screen and (min-width: 769px) and (max-width: 992px) {
    .logo {
        height: 70px;
    }

    .brand-name {
        margin-left: 15px;
        font-size: 33px;

    }


    .searchbar-container {
        padding-right: 10px;
        margin-left: 30px;

    }

    .searchbar {
        font-size: 18px;
        width: 150px;

    }

    .search-icon {
        height: 20px;

    }

    .login-container {

        width: 130px;
        margin-left: 50px;

    }

    .sign-up {
        font-size: 20px;
    }

    .login {
        font-size: 20px;

    }


    .main-navbar-container {
        width: 790px;

    }

    .navbar-items {
        font-size: 20px;

    }

    .header-image {
        height: 80vh;

    }

    .header-heading {
        font-size: 40px;

        top: 250px;
        left: 60px;
        color: rgb(32, 32, 32);

    }

    .our-speciality-heading {
        font-size: 34px;
    }

    .our-services-card-container {
        height: 500px;
    }

    .our-services-card {
        height: 180px;
        width: 280px;
    }

    .services-card-icon-container {

        width: 50px;
        height: 50px;
    }

    .our-services-card-icon {
        height: 30px;
    }

    .explore-maha-heading {
        font-size: 34px;
        margin-top: 20px;

    }

    .explore-maha-card {
        width: 700px;
    }

    .explore-maha-desc {
        font-size: 18px;

    }

    

    .popular-city-main-heading {
        font-size: 34px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .popular-city-card-container {
        width: 700px; 
        
    
    }

    .popular-city-img {

        width: 210px;
        height: 210px;
       

    }

    .popular-city-card {
        margin: 20px;
        
    }
.popular-city-img:hover {
    width: 220px;
   
}
/*  */

.best-place-heading {
    font-size: 34px;
    margin-top: 30px;
}

 .best-places-card-container {
    margin: 10px 0;
    

} 

.best-places-visit-cards {
    width: 450px;
    height: 580px;
    margin: 10px;
}
.best-places-visit-img {
    width: 450px;
    height: 300px;
}

.best-place-visit-card-heading {
    font-size: 22px;
    font-family: "Electrolize", sans-serif;
    padding-left:10px;
}

.best-places-card-desc {
    font-size: 17px;
}
/*  */
.top-attraction-heading {
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

.top-attraction-container {
    width: 600px;
    margin: 10px auto;
   
    
}

.top-attraction-image {
    height: 200px;
    width: 220px;
   
}

.top-attraction-card {
    width: 320px;
    margin: 10px;
}
}

/* media query from 600px 768px */

@media screen and (min-width: 600px) and (max-width: 768px){

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 65px;
}

.brand-name {
    margin-left:5px;
    font-size: 34px;
}

.searchbar-container {
    padding-right: 20px;
    margin-left: 10px;
    position: relative;
    border: 1px solid gray;
    
}

.searchbar {
    font-size: 18px;
    width: 150px;
    padding: 8px;
     
}

.search-icon {
    height: 22px;
    position: absolute;
    left: 150px;

}

.login-container {
    
    width: 120px;
    margin-left: 10px;

}
.sign-up {
    font-size: 18px;
}

.login {
    font-size: 18px;
}

.nav-container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffbf80;
}

.main-navbar-container {
    
    width:100%;  
}

.navbar-items {
    font-size: 18px;
}


.header-image {
    height: 80vh;
}

.header-heading {
    font-size: 30px;
    top: 250px;
    left: 70px;

}


.our-speciality-heading {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;

}


.our-services-card {
    height: 170px;
    margin: 15px;
    
    width: 270px;
    
}

.services-card-icon-container {
    
    width: 45px;
    height: 45px;
    
    margin-right: auto;
    margin-left: auto;
    padding: 4px;
    
}

.our-services-card-icon {
    height: 27px;
    
}

.services-card-heading {
    font-size: 18px;
   
}


.explore-maha-heading {
    font-size: 30px;
    margin-top: 30px;

}

.explore-maha-card {
    width: 550px;
    border-radius: 15px;
 
}

.explore-maha-desc {
    font-size: 18px;
}


.popular-city-main-heading {
    font-size: 30px;
    
    margin: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.popular-city-card-container {

    width: 600px;
    
}

.popular-city-img {

    width: 220px;
    height: 220px;
    border-radius: 10px;

}

.popular-city-img:hover {

    width: 230px;
    
}


.best-place-heading {
    font-size: 30px;
    margin-top: 30px;
  
}

.best-places-card-container {
    margin: 10px 0;
}

.best-places-visit-cards {
    width: 470px;
    height: 540px;
    padding: 8px;
    margin: 10px;
  
}


.best-places-visit-cards:hover {
    padding: 10px;
    box-shadow: 0 0 8px 2px #62aee4;

}

.best-places-visit-img {
    width: 470px;
   height: 260px;
}

.best-place-visit-card-heading {
    font-size: 20px;
    margin-left: 10px;
 
}

.best-places-card-desc {
    font-size: 18px;
   
}

.best-place-visit-btn {
    font-size: 18px;
  
}

.best-time-heading {
    bottom: 15px;
  
}
/*  */
.top-attraction-heading {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
    
}

.top-attraction-container {
    width: 600px;
    margin: 20px auto;
    
     flex-direction:column;
    
    align-items: center;

}

.top-attraction-image {
    height: 250px;
    width: 380px;
  
}

.top-attraction-card {
    width: 380px;
    margin: 10px;
}

.top-attraction-card:hover {
    
    margin-top: -1px;
}

}