@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Electrolize&family=Kurale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*  font-family: "Kurale", serif; */
/*  font-family: "Electrolize", sans-serif; */
/* font-family: "Black Ops One", system-ui; */
/*   font-family: "Russo One", sans-serif; */


body {
    padding: 0;
    margin: 0;
    /* background-color: #cfdef5; */
    background-color: #ffffe6;
}

.navbar-sec-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #66c2ff;

}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo {
    height: 80px;
}

.brand-name {
    margin-left: 20px;
    font-size: 37px;
    font-weight: bold;
}

.searchbar-container {
    background-color: white;
    border-radius: 30px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    margin-left: 50px;

}

.searchbar {
    font-size: 22px;
    border-radius: 30px;
    border: none;
    padding: 10px;
}

.searchbar:focus {
    outline: none;
}

.search-icon {
    height: 25px;


}

.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 160px;
    margin-left: 200px;

}


.sign-up {
    font-size: 25px;
    text-decoration: none;
    color: black;

}

.login {
    font-size: 25px;
    text-decoration: none;
    color: black;

}

/* main navbar section 2 */
.nav-container {
    /* background-color: #cfdef5; */
    background-color: #ffffcc;
    width: 100%;


}

.main-navbar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 1100px;
    justify-content: space-evenly;
    background-color: #ffffcc;
    margin: 0 auto;


}

.navbar-items {
    font-size: 20px;
    padding: 15px;
    border: none;
    text-decoration: none;
    color: black;

}

.visit-place-item {
    background-color: white;
}

.header-container {
    position: relative;
}

.header-image {
    height: 100vh;
    width: 100%;
}

.header-heading {
    font-size: 45px;
    font-family: "Russo One", sans-serif;
    position: absolute;
    top: 320px;
    left: 170px;
    color: rgb(32, 32, 32);


}

.our-speciality-heading {
    font-size: 40px;
    text-align: center;
    margin: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: tomato;
    border-radius: 15px;
    /* font-family: "Electrolize", sans-serif; */

    /* font-family: "Russo One", sans-serif; */
    font-family: "Black Ops One", system-ui;

}

.our-services-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.our-services-card {
    height: 180px;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 5px 5px gray;
}

.our-services-card:hover {
    padding: 10px;
    cursor: pointer;
    background-color: #cfdef5;


}

.our-services-card-icon {
    height: 40px;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.services-card-heading {
    font-size: 20px;
    text-align: center;
}

.services-card-desc {
    text-align: center;
}

.best-place-heading {
    font-size: 40px;
    font-family: "Russo One", sans-serif;
    /* font-family: "Kurale", serif; */
    margin-top: 50px;
    color: rgb(32, 32, 32);
    text-align: center;

    border-bottom: 1px solid gray;

}

.best-place-card {
    width: 850px;
    background-color: white;
    padding: 20px;
    font-family: "Kurale", serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;


}

.best-place-desc {
    font-size: 22px;

}

/* popular-city */
.popular-city-main-heading {
    font-size: 30px;
    font-family: "Russo One", sans-serif;
    text-align: center;
    background-color: tomato;
}

.poppular-city-card-container {

    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;


}

.popular-city-img {

    width: 240px;
    height:240px ;

}

.popular-city-card {
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px gray;

}

.popular-city-img:hover {

    cursor: pointer;
    width: 260px;
}

.popular-city-card-heading {
    font-size: 20px;
    font-family: "Black Ops One", system-ui;
    padding: 10px;
}

.popular-card-desc {
    padding-bottom: 7px;
    padding-left: 7px;

}
.best-places-card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 30px;
}
.best-places-visit-cards{
    width: 500px;
    height: 620px;
    
    background-color: #c7dceb;
    padding: 10px;
    border-radius: 15px;
    position: relative;
}
.best-places-visit-img{
    width: 500px;
    height: 300px;
}
.best-place-visit-card-heading{
    font-size: 25px;
    font-family: "Electrolize", sans-serif; 
}
.best-places-card-desc{
    font-size: 20px;
    font-family: "Kurale", serif;
    text-align: start;
}
.best-place-visit-btn{
    font-size: 20px;
    font-weight: bold;
    padding:5px 20px;
    background-color: black;
    color: white;
    border-radius: 15px;
    position: absolute;
    right: 30px;
    bottom:10px;
}