.body{
    height: auto ;
    width: auto;
    padding: 0;
    margin: 0;
    background-color: #cfdef5;
}

.mumbai-img{
    height: 70vh;
    width: 100%;
    margin-bottom: 50px;
}

.mumbai-information{
    text-align: center;
}

.info-mumbai{
    font-size: 20px;
    margin: 0 70px;
    text-align: start;
    margin-bottom: 20px;
}

.info{
    font-size: 25px;
    text-align: center;
}

.mumbai-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mumbai-heading{
    font-size: 30px;
    color: darkred;
    margin-left: 50px;
}

.mumbai-1-image{
    width: 80vh;
    height: 52vh;
    border-radius: 20px;
    box-shadow: 0 0 5px 5px gray;
}

.mumbai-1-info{
    height: 52vh;
    width: 80vh;
    background-color: rgb(203, 192, 178);
    border-radius: 20px;
    box-shadow: 0 0 5px 5px gray;
}

.mumbai-para{
    margin: 20px;
    font-size: 15px;
    color: rgb(91, 25, 25);
    text-align: justify;
}

.heading{
    font-size: 40px;
    color: darkred;
    margin-top: 50px;
    margin-left: 60px;
}




